/* style.css */

body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: #fff;
  line-height: 1.75;
}

header {
  text-align: center;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.7);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.2rem;
}

h2 {
  font-size: 1.5rem;
  color: #88c0d0;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  text-align: left;
}

p,
li {
  font-size: 1.1rem;
  line-height: 1.75;
  margin-bottom: 1.2rem;
}

ul {
  padding-left: 1.5rem;
}

button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #5e81ac;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #81a1c1;
}

form input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
}

form {
  margin-top: 1.5rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 0.9rem;
  margin-top: 3rem;
  color: #ccc;
}

.disclaimer {
  font-size: 0.85rem;
  color: #bbb;
  margin-top: 0.5rem;
  font-style: italic;
}
